src/main/java/gov/noaa/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dwml" type="dwmlType"/>
  <xs:complexType name="dwmlType">
    <xs:sequence>
      <xs:element type="xs:string" name="latLonList"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>